@model IEnumerable<TvTableCatalogModel>

<partial name="_Catalog" />

@foreach (var item in Model)
{
    <div class="card" display="inline-block" style="width: 18rem;">
        <img src=@item.ImageUrl class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <b>@String.Format("{0:f2}", item.Price) BGN</b>

            <form asp-action="Details" asp-controller="TvTable" asp-route-id="@item.Id">
                <button type="submit" class="btn btn-primary">Details</button>
            </form>

            @if (User.Identity.IsAuthenticated && !item.IsCreator)
            {
                <form asp-action="Buy" asp-controller="TvTable" asp-route-id="@item.Id">
                    <button type="submit" class="btn btn-primary">Buy</button>
                </form>
            }
        </div>
    </div>
}
