@{
    ViewBag.Title = "Create";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<body>
    <h3 class="text-center">Which Furniture You want to sell?</h3>

    <h4 class="text-center">Please Select Item for Creating offer:</h4>

<ul>
    <li class="nav-item">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="width: 60px;" src="~/Images/Sofa.jpg" alt="Sofa Img">
            <a class="nav-link text-dark" asp-area="" asp-controller="Sofa" asp-action="Add">Sofa Item</a>
        </div>
    </li>
    <li class="nav-item">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="width: 60px;" src="~/Images/Armchair.jpg" alt="ArmChair Img">
            <a class="nav-link text-dark" asp-area="" asp-controller="ArmChair" asp-action="Add">Armchair Item</a>
        </div>
    </li>
    <li class="nav-item">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="width: 60px;" src="~/Images/Table.jpg" alt="Table Img">
            <a class="nav-link text-dark" asp-area="" asp-controller="Table" asp-action="Add">Table Item</a>
        </div>
    </li>
    <li class="nav-item">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="width: 60px;" src="~/Images/chair.jpg" alt="Chair Img">
            <a class="nav-link text-dark" display="inline" asp-area="" asp-controller="Chair" asp-action="Add">Chair Item</a>
        </div>
    </li>
    <li class="nav-item">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="width: 60px;" src="~/Images/tvTable.png" alt="TvTable Img">
            <a class="nav-link text-dark" asp-area="" asp-controller="TvTable" asp-action="Add">Tv Table Item</a>
        </div>
    </li>
</ul>

</body>